STAYS_BASE_URL=https://maortiz.stays.net
STAYS_API_USER=
STAYS_API_PASSWORD=

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_ENV=sandbox
NEXT_PUBLIC_SITE_URL=https://alkila-web.vercel.app
ADMIN_TOKEN=

# Persistent production storage
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Airbnb iCal imports
# JF08 -> Cabana 8
AIRBNB_ICAL_JF08_URL=
BOOKING_ICAL_JF08_URL=

# JF06 -> Casa 16
AIRBNB_ICAL_JF06_URL=
BOOKING_ICAL_JF06_URL=

# JF02 -> Finca 22
AIRBNB_ICAL_JF02_URL=https://www.airbnb.com.co/calendar/ical/32492341.ics?t=704aba56bb8d467b8681a3e4931b35d2
BOOKING_ICAL_JF02_URL=
